@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/*Color Pallete https://paletton.com/#uid=53A0G0ktvi792zom5ocIWaJZe2w*/

/*Overall Page Formating*/
html {
  font-family: Comfortaa, Georgia, "Times New Roman", sans-serif;
  line-height: 24px;
  color: #ffffff;
  padding: 12px;
  background-color: #0e355e;
}
@supports (display: grid) {
  /* No L/R padding when we have grid...*/
  html { padding: 24px 0; }
}

body {
  /* ...because we'll use columns to keep the content away from the edge of the viewport */
  display: grid;
  grid-template-columns: minmax(12px,1fr) minmax(min-content,120ch) minmax(12px,1fr);
}

header, nav, main, footer {
  grid-column: 2/3;
  background-color: #3f8cdd;
}


/*Header Formating*/
header {
  padding: 10px 12px 10px 12px;
  /*border: 8px solid #0E355E;*/
  border-top:0;
  border-bottom: 0;
  background: rgb(14,53,94);
  background: linear-gradient(180deg, rgba(14,53,94,1) 0%, rgba(26,89,154,1) 30%, rgba(63,140,221,1) 100%);
}
.logo {
  padding-top: 16px;
  padding-right: 14px;
  float: left;
  width: 23%;
  filter: drop-shadow(9px 6px 4px #022951);
}
.title {
  line-height: 40px;
  color: white;
  font-size: 2em;
}


/*Navigation Formating*/
#nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nav a {
  display: block;
  text-decoration: none;
  background: rgb(14,53,94);
  background: linear-gradient(0deg, rgba(14,53,94,1) 0%, rgba(26,89,154,1) 30%, rgba(63,140,221,1) 100%);
  color: white;
  padding: 16px;
  margin-right: auto;
}
ul.nav {
  padding-top: 8px;
  /*border: 8px solid #0E355E;*/
  border-bottom: 0;
  border-top: 0;
}
.nav li {
  text-align: center;
  margin-right: auto;
}
.nav a:hover {
  background: #271263;
}
.nav li:last-child {
  border-bottom: 0;
}


/*Main Formating*/
main {
  font-family: Nanum Gothic, Georgia, "Times New Roman", sans-serif;
  border: 8px solid #3f8cdd;
  border-bottom: 0;
  border-top: 0;
  padding-top: 24px;
  padding-bottom: 48px;
}


/*footer formating*/
footer {
  padding-bottom: 24px;
  background: rgb(14,53,94);
  background: linear-gradient(0deg, rgba(14,53,94,1) 0%, rgba(26,89,154,1) 30%, rgba(63,140,221,1) 100%);
}
.footerlist1, .footerlist2 {
  padding-top: 24px;
  text-align: center;
}
.foot {
  text-decoration: none;
  padding-bottom: 30px;
}
a.aFoot {
  color: #ffffff;
  padding: 4px 24px 4px 24px;
  border-radius: 72px;
  background: rgb(14,53,94);
  background: linear-gradient(0deg, rgba(14,53,94,1) 0%, rgba(26,89,154,1) 30%, rgba(63,140,221,1) 100%);
}
a.aFoot:hover {
  background: #271263;
}
.f1, .f2 {
  font-weight: bold;
  padding-bottom: 16px;
}




/*CSS Specifically for About Us Page*/
h1.auTitle, h1.cuTitle {
  font-size: 1.5em;
  padding-top: 12px;
  padding-bottom: 16px;
}
h2.cuTitle, h2.auTitle {
  font-size: 1.25em;
  padding-top: 36px;
  padding-bottom: 24px;
}
h3.auWidget, h3.cuWidget {
  font-size: 1.15em;
  padding-top: 12px;
  padding-bottom: 36px;
  text-decoration: underline;
}
div.auWidget, div.cuWidget {
  background-color: #086B26;
  padding-top: 8px;
  border: 4px solid #2C8F4A;
  border-radius: 72px;
  text-align: center;
}
ul.auWidget, ul.cuWidget {
  padding-bottom: 12px;
  list-style-type: none;
}
li.cuWidget, li.auWidget {
  padding-bottom: 36px;
}
li.cuWidget:last-child, li.auWidget:last-child {
  padding-bottom: 24px;
}
a.cuWidget, a.auWidget {
  text-decoration: none;
  background-color: #8CC49D;
  border-radius: 50px;
  padding: 8px 36px 8px 36px;
}
a.cuWidget:hover, a.auWidget:hover {
  background-color: #12043B;
}
.aboutUs {
  font-size: 17px;
  padding-top: 48px;
  padding-bottom: 16px;
}
.aboutQuestions {
  list-style-type: georgian;
  padding-left: 24px;
  padding-bottom: 16px;
}
.auItem {
  padding-bottom: 12px;
}
.advertisement {
  padding: 36px 24px 0px;
}
.auImage1 {
  float: left;
  width:30%;
  padding-top: 24px;
  padding-right: 16px;
}
.auImage2 {
  float: right;
  width: 25%;
  padding-top:72px;
}
.auImage3 {
  float: left;
  width: 20%;
  padding-right: 12px;
}
.auImage4 {
  float: right;
  width: 28%;
  padding-top: 36px;
  padding-left: 12px;
}


/*CSS Specifically for Home Page*/

h1.hTitle {
  font-size: 1.5em;
  padding-top: 12px;
  padding-bottom: 8px;
}
p.home1 {
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
}
p.home2 {
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
}
p.home3 {
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
}
p.home4 {
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
}
p.home5 {
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.slideshow {
  text-align: center;
  width: 100%;
}


/*CSS Specfically for Contact Us*/
form.main {
  font-size: 18px;
  border: 4px solid #bbbbbb;
  border-left: 4px solid #dddddd;
  border-top: 4px solid #dddddd;
  border-radius: 16px;
  padding-top: 23px;
  background: url('../img/formBackground.png');
}
label {
  display: block; /* add this */
  padding-top: 12px;
  padding-left: 12px;
  float:left;
}
.firstChild {
  padding-top: 0;
}
input {
  padding: 16px 10px 16px 10px;
  margin-bottom: 8px;
  width:90%;
}
input, textarea {
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 12px;
  font-family: inherit;
  font-size: 18px;
}
textarea {
  margin-bottom: 12px;
  padding: 8px 10px 8px 10px;
  width: 90%;
  height: 300px;
}
button {
  border-color: transparent;
  overflow: visible;
  font: inherit;
  border-radius: 24px;
  padding: 16px 10px 16px 10px;
  margin-left: 10%;
  margin-top: 24px;
  margin-bottom: 12px;
  background: rgb(227,163,47);
  background: linear-gradient(158deg, rgba(227,163,47,1) 0%, rgba(236,210,157,1) 62%, rgba(215,157,39,1) 100%);
}
button:hover {
  background: rgb(14,53,94);
  background: linear-gradient(240deg, rgba(14,53,94,1) 0%, rgba(75,126,171,1) 38%, rgba(35,94,145,1) 100%);
  color: #ffffff;
}
div.cuWidget {
  margin-top: 24px;
  padding-bottom: 24px;
}
ul.cuWidget:last-child {
  padding-bottom: 12px;
}
.cuLogo {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 48px;
  border: 4px solid #dddddd;
  filter: drop-shadow(12px 18px 5px #000F04);
}

@media screen and (min-width: 534px) {

/*About Us CSS*/
  .logo {
    padding-bottom: 16px;
    filter: drop-shadow(10px 10px 4px #022951);
  }
  .title {
    margin-top: 5%;
  }
  div.auWidget {
    display: block;
    float: right;
    width:42%;
    /*padding-left: 36px;*/
  }
  a.auWidget {
    padding: 4px 8px 4px 8px;
  }


  /*Contact Us CSS*/
  textarea {
    width: 400px;
    height: 200px;
  }
  button {
    margin-left: 15%;
  }
  .cuLogo {
    width: 30%;
  }
}

@media screen and (min-width: 578px) {
  textarea {
    width: 450px;
    height: 200px;
  }
}

@media screen and (min-width: 603px) {
  button {
    margin-right:24px;
  }
}
@media screen and (min-width: 624px) {
  textarea {
    width: 500px;
    height: 200px;
  }
  .secondChild {
    padding-top: 0;
  }
  input {
    padding-right: 6px;
  }
}
@media screen and (min-width: 679px) {
  textarea {
    width: 550px;
    height: 200px;
  }
}
@media screen and (min-width: 723px) {
  textarea {
    width: 600px;
  }

  div.auWidget {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 24px;
  }
  /*Home*/
  .slideshow {
    margin-bottom: 24px;
  }
  .home1 {
    background-color: #8298AF;
    padding: 4px 24px 4px 24px;
    margin-left: 8%;
    margin-right: 3%;
    border-radius: 50px;
    filter: drop-shadow(0px 12px 4px #2E557D);
  }
  .home2 {
    background-color: #8CC49D;
    padding: 4px 24px 4px 24px;
    margin-left: 1%;
    margin-right: 10%;
    border-radius: 50px;
    /**/
  }
  .home3 {
    background-color: #9689B8;
    padding: 4px 24px 4px 24px;
    margin-left: 5%;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 1px #493384);
  }
  .home4 {
    background-color: #8298AF;
    padding: 4px 24px 4px 24px;
    margin-left: 2%;
    border-radius: 50px;
    filter: drop-shadow(0px 20px 10px #2E557D);
  }
  .home5 {
    background-color: #8CC49D;
    padding: 4px 24px 4px 24px;
    margin-top: 24px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    filter: drop-shadow(0px 12px 4px #2E557D);
  }
}

@media screen and (min-width: 730px) {
  /* Navigation */
  .nav {
      display: flex;
      padding-top: 12px;
  }
  .nav li {
    text-align: center;

    /*Layout w/ floats */
    float: left;
    width: 33.33333333333%;

    /* layout w/ flexbox*/
    flex: 1 1 auto;
  }
  @supports (display: flex) {
    .nav li {
      width: auto;
    }
  }
  ul.nav {
    padding-bottom: 13px;
    filter: drop-shadow(0px 15px 4px #2e557d);
  }

  /*Footer*/
  ul.footerlist1, ul.footerlist2 {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
  }
  ul.footerlist2 {
    float: right;
    margin-left: 10%;
    margin-right: 10%;
  }


/*About Us CSS*/
  .auImage2 {
    padding-top: 60px;
  }
}

@media screen and (min-width: 778px) {
  textarea {
    width: 650px;
  }
}

@media screen and (min-width: 828px) {
  textarea {
    width: 700px;
  }
}

@media screen and (min-width: 841px) {
  /*Contact Us CSS*/
  div.container {
    display:flex;
    justify-content: space-between;
  }
  form.main {
    flex-basis: 65%;
  }
  div.cuWidget {
    flex-basis: 30%;
    margin-top: 4px;
  }
  textarea {
    width: 400px;
  }
  .cuLogo {
    width: 60%;
  }
}
@media screen and (min-width: 856px) {
  textarea {
    width: 450px;
  }
}


@media screen and (min-width: 900px) {
  .logo {
    width: 15%;
    filter: drop-shadow(15px 10px 4px #022951);
    padding-right: 20px;
  }
  /*Footer*/
  ul.footerlist1, ul.footerlist2 {
    float: left;
    margin-left: 15%;
    margin-right: 15%;
  }
  ul.footerlist2 {
    float: right;
    margin-left: 15%;
    margin-right: 15%;
  }


  /*About Us CSS*/
  .aboutUs {
    padding-top: 60px;
    padding-bottom: 12px;
    width:75%;
  }
  .aboutQuestions {
    padding-left: 72px;
    padding-bottom: 16px;
  }
  .auImage1 {
    width: 20%;
  }
  .auImage2 {
    padding-top: 84px;
    width: 15%;
  }
  .auImage3 {
    width: 13%;
  }
  .auImage4 {
    width: 16%;
  }
  a.auWidget {
    padding: 4px 36px 4px 36px;
  }
  .slideshow {
    width: 100%;
  }




  /*Contact*/
  input {
    padding-right: 6px;
    padding-left: 6px;
  }
  button {
    margin-left: 35%;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 934px) {
  textarea {
    width: 500px;
  }
}
@media screen and (min-width: 1010px) {
  .thirdChild {
    margin-top: 24px;
  }
  textarea {
    width: 550px;
  }
}
@media screen and (min-width: 1088px) {
  fieldset {
    display: block
  }
  textarea {
    width: 600px;
  }
  .secondChild {
    margin-left: 56px;
  }
  button {
    margin-left: 35%
  }
}
@media screen and (min-width: 1164px) {
  textarea {
    width: 650px;
  }
}
